
.body-top {
    width: 70%;
    border: none;
    margin: auto;
    font-family:Verdana;
    font-style: normal;
    font-size: normal;
    font-weight: bold;
    text-align: center;
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 70px;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

#menu {
    background-color: #6feeb9;
}
a {
    color: white;
    border: solid white;
    box-shadow: 20px 0 20px -20px #000 inset, -20px 0 20px -20px #000 inset;
}
header {
    padding: 1em;
    color: rgb(255, 255, 255);
    background-color: #02a9e0;
    vertical-align: center;
}
#logo {
    max-width: 180px;
    max-height: 140px;
}
.col-9 {
    display: flex;
}
h1 {
    margin: auto;
}

.tour {
    border: solid #6fceee;
    margin: auto;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}
.tour img {
    width: 250px;
    height: 170px;
    padding: 5px;
}
.tour p .tour img {
    margin: 0 10px;
}
.btn {
    margin-left: auto;
    order: 999;
    background-color: #6feeb9;
    box-shadow: 20px 0 20px -20px #000 inset, -20px 0 20px -20px #000 inset;
    color: white;
}
.tour a {
    background-color: #6feeb9;
    box-shadow: 20px 0 20px -20px #000 inset, -20px 0 20px -20px #000 inset;
    color: white;
}

html {
    height: 100%;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    color: white;
    background-color: #007196;
}


@media screen and (max-width: 768px) {
    #logo {
        max-width: 100px;
        max-height: 70px;
    }
    h1 {
        font-size: 14px;
    }
}

